<div id="header">
	<div class="container"> <!-- conatiner adds gutters to the side of the page -->
		<!-- Navigation at the right side of the header -->
		<ul id="header-links">
			<li id="nav-home"><a class="a-nav-hover white-text" href="/">Home</a></li>
			<li id="nav-a-records"><a class="a-nav-hover white-text" href="/addrecords">Add Records</a></li>
			<li id="nav-v-records"><a class="a-nav-hover white-text" href="/viewrecords">View Records</a></li>
			<li id="nav-calc"><a class="a-nav-hover white-text" href="/calculator">Calculator</a></li>
		</ul>
		<!-- Title on left side of header using the variable {{{title}}} to dynamically chnage the title name -->
		<span id="whole-title"><h1 id="title"><a href="/" class="white-text">Swimming Relay Order Calculator</a></h1><span id="pagename" class="white-text">&nbsp;&nbsp;{{{title}}}</span></span>
	</div>
</div>
