<div class="top-container">
  <div class="white-text" id="addrecords-title">
    <h2>Add Records</h2>
    <p class="blockquote-white">Fill out the form below with one of your swimmer's personal details and a selection of their P.B.s. Once you click the green submit button at the bottom of the page the form will be cleared and you can enter a new swimmer's details. <strong>All fields are required.</strong></p>
    <img src="../public/images/scrolldown3.gif">
  </div>
</div>
<div class="body-container">
  <form class="" action="" method="post">
    <!--Personal Details-->
    <div class="row">
      <div class="col-2">
        <h3 class="primary-text left">Swimmer's Personal Details:</h3>
      </div>
      <div class="col-4">
        <input type="text" name="" placeholder="Test">
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <input type="text" name="" placeholder="Test">
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <input type="text" name="" placeholder="Test">
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <input type="text" name="" placeholder="Test">
      </div>
    </div>

    <br />
    <br />

    <!--PBs Details-->
    <!-- Fly and Bc -->
    <div class="row">
      <div class="col-2">
        <h3 class="primary-text left">Swimmer's P.B.s:</h3>
      </div>
      <div class="col-5">
        <h3 class="primary-text left">BUTTERFLY</h3>
      </div>
      <div class="col-5">
        <h3 class="primary-text left">BACKCRAWL</h3>
      </div>
    </div>

    <!--25m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>
    </div>

    <!--50m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.:</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>
    </div>

    <!--100m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>
    </div>

    <!--200m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="MM">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="SS">
      </div>
      <div class="col-1">
        <input type="number" name="" placeholder="mm">
      </div>
    </div>

    <br />
    <br />

    <!--Notice-->
    <div class="row">
      <div class="col-12 shadow alert-notice">
        <div class="row">
          <div class="col-1 centre">
            <img src="../public/images/info.png">
          </div>
          <div class="col-11">
            <span class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
          </div>
        </div>
      </div>
    </div>

    <br  />
    <br  />

    <!--Submit Button-->
    <div class="row centre">
      <a class="col-12 btn btn-submit white-text shadow" href="#">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-2 centre">
            <h3>SUMBIT</h3>
          </div>
          <div class="col-2 centre">
            <img src="../public/images/submit.png">
          </div>
          <div class="col-4"></div>
        </div>
      </a>
    </div>
  </form>
</div>
