<div class="top-container">
  <div class="white-text" id="addrecords-title">
    <h1>ADD RECORDS</h1>
    <p>test</p>
    <div class="scroll-container">
      <span class="circle">
        <i class="fa fa-arrow-down"></i>
      </span>
      <span class="pulse"></span>
    </div>
    </div>
</div>
