<!-- Post to database -->
<script type="text/javascript" src="../public/js/form-addrecords.js"></script>

<div class="top-container">
  <div class="white-text" id="addrecords-title">
    <h2>Add Records</h2>
    <p class="blockquote-white">Fill out the form below with one of your swimmer's personal details and a selection of their P.B.s. Once you click the green submit button at the bottom of the page the form will be cleared and you can enter a new swimmer's details. <strong>All fields are required.</strong></p>
    <img src="../public/images/scrolldown3.gif" all="Scroll Down Animation">
  </div>
</div>
<div class="body-container">
  <form class="addSwimmer" method="post"  ><!--After submit will stay on same page and clear the form so the user can enter a new swimmer-->
    <!--Personal Details-->
    <div class="row">
      <div class="col-2">
        <h3 class="primary-text left">Swimmer's Details:</h3>
      </div>
      <div class="col-4">
        <input type="text" name="swimmer_forename" placeholder="First Name(s) (Between 0 and 40 Characters)" maxlength="40" required>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <input type="text" name="swimmer_surname" placeholder="Last Name (Between 0 and 40 Characters)" maxlength="40" required>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <input type="date" name="swimmer_dob"  placeholder="Date of Birth, in format: &nbsp;&nbsp;" onchange="this.className=(this.value!=''?'has-value':'')" required>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-4">
        <select required name="swimmer_gender">
          <option value="" disabled selected>Gender</option>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
    </div>

    <br />
    <br />

    <!--PBs Details-->
    <!-- Fly and Bc -->
    <div class="row">
      <div class="col-2">
        <h3 class="primary-text left">Swimmer's P.B.s:</h3>
      </div>
      <div class="col-5">
        <h3 class="primary-text left">BUTTERFLY</h3>
      </div>
      <div class="col-5">
        <h3 class="primary-text left">BACKCRAWL</h3>
      </div>
    </div>

    <!--25m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fly25mins" placeholder="MM" min="0" max="59" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly25secs" placeholder="SS" min="0" max="59" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly25millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="bc25mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc25secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc25millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--50m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fly50mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly50secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly50millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="bc50mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc50secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc50millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--100m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fly100mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly100secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly100millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="bc100mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc100secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc100millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--200m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fly200mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly200secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fly200millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="bc200mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc200secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="bc200millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <br />
    <br />

    <!-- Brs and Fc -->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-5">
        <h3 class="primary-text left">BREASTROKE</h3>
      </div>
      <div class="col-5">
        <h3 class="primary-text left">FRONTCRAWL</h3>
      </div>
    </div>

    <!--25m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="brs25mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs25secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs25millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">25m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fc25mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc25secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc25millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--50m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="brs50mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs50secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs50millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">50m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fc50mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc50secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc50millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--100m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="brs100mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs100secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs100millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">100m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fc100mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc100secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc100millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <!--200m-->
    <div class="row">
      <div class="col-2">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="brs200mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs200secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="brs200millis" placeholder="mm" min="0" max="99">
      </div>

      <div class="col-1">
        <h3 class="white-text left">.</h3> <!-- White text to hide text but keep consistant height -->
      </div>
      <div class="col-1">
        <h3 class="primary-text">200m</h3>
      </div>
      <div class="col-1">
        <input type="number" required id="fc200mins" placeholder="MM" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc200secs" placeholder="SS" min="0" max="59">
      </div>
      <div class="col-1">
        <input type="number" required id="fc200millis" placeholder="mm" min="0" max="99">
      </div>
    </div>

    <br  />
    <br  />
    <br  />
    <br  />

    <!--Notice-->
    <div class="row">
      <div class="col-12 shadow alert-notice">
        <div class="row">
          <div class="col-1 centre">
            <img src="../public/images/info.png" alt="Info Icon">
          </div>
          <div class="col-11">
            <span class="white-text">When entering the milliseconds, make sure that you enter a zero(0) at the end if it is a multiple of 10. E.g. 30.5s would be: EMPTY in the 'MM' box, 30 in the 'SS' box and 50 in the 'mm' box.</span>
          </div>
        </div>
      </div>
    </div>

    <br  />
    <br  />

    <!--Submit Button-->
    <button type="submit" class="btn btn-submit shadow white-text" id="swimmer-submit">
      <div class="row">
        <div class="col-5"></div>
        <div class="col-1"><h3>SUBMIT</h3></div>
        <div class="col-1"><img src="../public/images/submit.png" alt="Submit Icon"></div>
        <div class="col-5"></div>
      </div>
    </input>
  </form>
</div>
