<!-- Tutorial section -->
<div id="tutorial">
  <h2 id="index-header" class="white-text centre">How does this work?</h2>
  <p class="white-text blockquote-white" id="indextutorial">
    The Swimming Relay Order Calculator is a website that allows you to enter your swimmers’ personal best times for all 4 strokes, butterfly, backcrawl, breaststroke and freestyle and use these
    records to search for different relay combonations. You will select swimmers by age and gender and define the details of the relay, ie stroke and distance etc., which will then be queried and
    results displayed on a new page, with an option to download.
  </p>
  <!-- Pics centred and even spaced -->
  <div class="row primary-text centre" id="tutorial-pics">
    <div class="col-4">
      <img src="../public/images/circle-step1.png" alt="Step 1"/>
      <span><strong>1.&nbsp;</strong>Add swimmers' details on an HTML form, including name, DOB, gender and their personal best times.</span>
    </div>
    <div class="col-4">
      <img src="../public/images/circle-step2.png" alt="Step 2"/>
      <span>
        <strong>2.&nbsp;</strong>View all records you've ever added on the View Records Page. When you've checked you have everyone for you calculation go the to the Calculcator Page and fill
        out the form.
      </span>
    </div>
    <div class="col-4">
      <img src="../public/images/circle-step3.png" alt="Step 3"/>
      <span><strong>3.&nbsp;</strong>View your result on the page iut brings you after you submit your calculation. You can then download the generated CSV (Excel) file.</span>
    </div>
  </div>
</div>

<!-- Getting started section -->
<div id="get-started" class="primary-text">
  <h2 id="index-header-2" class="centre">Get Started</h2>
  <p class="blockquote-primary">
    There are 3 other pages other than the Home page. You can navigate them here or on the navigation bar at the top of the page. To navigate home you can also click the website name on the
    left of the header. The add records page allows you to enter swimmers into the database. View Records allows you to see everyone on the databse. The caculator page allows you to create
    relays and view and download the results as a table (CSV file).
  </p>
  <!-- Pics(links) and page titles centred and even spaced -->
  <div class="row" id="get-started-pics">
    <div class="col-4">
      <a class="primary-text" href="/addrecords">
        <img id="addrecordsbtn" src="../public/images/circle2-add.png" alt="Add Records Page"/>
        <h2 class="centre">Add Records</h2>
      </a>
    </div>
    <div class="col-4">
      <a class="primary-text" href="/viewrecords">
        <img id="viewrecordsbtn" src="../public/images/circle2-view.png" alt="View Records Page"/>
        <h2 class="centre">View Records</h2>
      </a>
    </div>
    <div class="col-4">
      <a class="primary-text" href="/calculator">
        <img id="calcbtn" src="../public/images/circle2-calc.png" alt="Calculator Page"/>
        <h2 class="centre">Calculator</h2>
      </a>
    </div>
  </div>
</div>
