<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{{domain}}} {{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../node_modules/material-design-icons/iconfont/material-icons.css">
    <link rel="icon" href="../public/images/favicon.png" type="image/png">
  </head>

  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/animation.js"></script>
    <script type="text/javascript" src="../public/js/form.js"></script>

    <header id="header-wrapper">
      {{>header}}
    </header>
    <main id="content-wrapper" class="container">
      {{{body}}}
    </main>
    <footer id="footer-wrapper">
      {{>footer}}
    </footer>
  </body>

</html>
