<div class="top-container">
  <div class="white-text" id="addrecords-title">
    <h2>View Records</h2>
    <p class="blockquote-white">View all swimmers ever added to the database here. Make sure to come back here to check that the swimmer(s) you've just submitted are present. Once you have, you can go the the calculator page and write a query.</p>
    <img src="../public/images/scrolldown3.gif" all="Scroll Down Animation">
  </div>
</div>
<div class="body-container">
  <!-- All swimmers currently on the database will be inserted into this table" -->
  <table id="swimmers-table" class="shadow">
    <tr>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
    </tr>
  </table>
</div>

<!-- Request from database -->
<script type="text/javascript" src="../public/js/table-viewrecords.js"></script>
