<!-- Request from database -->
<script type="text/javascript" src="../public/js/table-viewrecords.js"></script>

<table id="swimmers-table">
  <tr>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
  </tr>
</table>
