/*Fonts*/
@font-face {
  font-family: "SourceSansPro Regular";
  src: url("fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro Light";
  src: url("fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "SourceSansPro Bold";
  src: url("fonts/SourceSansPro-Bold.ttf");
}

/*Removing default set margins and paddings*/
html, body, h1, h2, h3, h4, h5, h6, p, span, div, table, ul, ol, li, a, input, form {
  margin: 0;
  padding: 0;
}

/*Adding universal font (that may be overridden when wanted) and universal bg colour*/
html {
  font-family: "SourceSansPro Regular";
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*(1) Layout*/
.left {
  float: left;
}
.right {
  float: right;
}
.container {
	margin: 0 4%; /*Gutters*/
  height: 100%;
}
/* For all pages except index*/
.top-container {
  height: 57vh;
  margin-top: 12vh;
}
.top-container h2 {
  text-align: center;
}
.top-container img {
  height: 6vh;
  display: block;
  margin-top: 18vh;
  margin-left: auto;
  margin-right: auto
}
.body-container {
  padding-top: 7vh;
}
/*(2) Buttons*/
.btn {
  display: block;
  border-radius: 12px;
  padding: 10px;
  height: 5vh;
}
.btn-submit {
  background-color: #1A9D49;
}
.btn div div img {
  height: 2vh;
  margin-top: 0.5vh;
}
.btn div div h3 {
  font-family: "SourceSansPro Bold";
  line-height: 3vh;
}
/*(3) Element Styling*/
.shadow {
  box-shadow:   0 3px 6px 0 rgba(0,0,0,0.08),
                0 1px 10px 0 rgba(0,0,0,0.08),
                0 3px 3px -1px rgba(0,0,0,0.14);
}
.nav-active {
  border-bottom: 3px #fff solid;
}
/*(4) Row*/
.row {
  width: 100%;
  display: inline-flex;
}
/*Columns*/
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.666%;
}
.col-12 {
  width: 100%;
}
/*(5) Text*/
.white-text {
  color: #fff;
}
.primary-text {
  color: #397CC8;
}
.secondary-text {
  color: #7296D6;
}
.success-text {
  color: #1A9D49;
}
.alert-and-contrast-text {
  color: #FEB300;
}
.warning-text {
  color: #9D1A1A;
}
.blockquote-white {
  margin-top: 4vh;
  border-left: 6px #fff solid;
  padding-left: 10px;
}
.blockquote-primary {
  margin-top: 4vh;
  border-left: 6px #397CC8 solid;
  padding-left: 10px;
}
.centre {
  text-align: center;
}
/*(6) Removing styling*/
a {
  text-decoration: none;
}
a.white-text:visited {
  color: #fff;
}
a.primary-text:visited {
  color: #397CC8;
}
button[type='submit'] {
  border: none;
}
button[type='submit']:focus {
  outline: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
select {
  border: none;
}
select:focus {
  outline: none;
}
td, th {
  border: 0 solid transparent;
}
/*(7) Form styling*/
input {
  border-bottom: 2px solid #397CC8; /*Override the removal of styling earlier*/
  line-height: 1.5rem;
  background-color: #fff;
  border-radius: 0 5px;
  color: #7296D6;
  font-size: 0.8rem;
  transition: .3s ease-in;
}
input:focus {
  background-color: #7296D655;
  color: #7296D6;
}
input::placeholder {
  color: #7296D6;
}
input[type='text'] {
  width: 100%;
}
input[type='number'] {
  width: 70%;
  margin-left: 30%;
}
input[type="date"] {
  width: 100%;
  font-family: "SourceSansPro Regular"; /*Type date applies its own font and color, need to override it*/
}
input[type="date"]:not(.has-value):before{
  content: attr(placeholder);
}
input:valid:focus {
  border-bottom: 2px solid #1A9D49;
}
input:invalid:focus {
  border-bottom: 2px solid #9D1A1A;
}
select {
  width: 100%;
  border-bottom: 2px solid #397CC8 !important; /*Override the removal of styling earlier*/
  padding-bottom: 4px;
  background-color: #fff;
  border-radius: 0 5px;
  color: #7296D6;
  font-size: 0.8rem;
  transition: .3s ease-in;
}
select:focus {
  border-bottom: 2px solid #7296D6;
  background-color: #7296D655;
  color: #7296D6;
}
select:valid {
  border-bottom: 2px solid #1A9D49;
}
select:invalid {
  border-bottom: 2px solid #9D1A1A;
}
button[type='submit'] {
  width: 100%;
}
button[type='submit']:hover {
  cursor: pointer;
  background-color: #1A9D49EE;
}
button[type='submit'] img {
  height: 2vh;
}
/*(9) Notices */
.alert-notice {
  height: 5vh;
  background-color: #FEB300;
  border-radius: 12px;
  padding: 10px;
}
.alert-notice div div img {
  height: 5vh;
}
/*(10) Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  background: #397CC8;
  font-weight: bold;
  height: 60px;
  color: #fff;
}
td {
  text-align: center;
  height: 40px;
  color: rgb(110, 112, 124);
}
/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
  background: #fff;
}
/* Cells in odd rows (1,3,5...) are another (excludes header)  */
tr:nth-child(odd) td {
  background: #7296D62E;
}

/*Header, content and footer sizing and positioning*/
header#header-wrapper {
	min-height: 7vh;
	position: relative;
}
main#content-wrapper {
	min-height: 88vh;
	max-height: none;
	position: relative;
}
footer#footer-wrapper {
	min-height: 5vh;
	position: relative;
  padding-top: 80px;
}

/*Header styling*/
div#header {
  width: 100%;
  background-color: #397CC8;
}
h1#title a {
  float: left;
  position: relative;
  line-height: 7vh;
  font-size: 1.5rem;
  font-family: "SourceSansPro Light";
}
span#pagename {
  line-height: 7.5vh;
  font-size: 1.3rem;
  font-family: "SourceSansPro Light";
}
ul#header-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  float: right;
  line-height: 7vh;
}
ul#header-links li {
  width: 100%;
  text-align: center;
}
ul#header-links li a {
  font-size: 1.3rem;
}
ul#header-links li a.a-nav-hover:after {
  display:block;
  content: '';
  border-bottom: solid 3px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
ul#header-links li a.a-nav-hover:hover:after {
  transform: scaleX(1);
}

/*Footer styling*/
div#footer {
  text-align: center;
  font-size: 1rem;
  line-height: 5vh;
  background: #397cc8; /* Old browsers */
  background: -moz-linear-gradient(left, #397cc8 0%, #76a0db 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #397cc8 0%,#76a0db 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #397cc8 0%,#76a0db 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: "SourceSansPro Light";
}

/*Index (Home) Styling*/
div#tutorial {
  margin-top: 12vh;
}
h2#index-header, h2#index-header-2 {
  text-align: center;
}
div#tutorial-pics, div#get-started-pics {
  margin: 6vh 0;
  position: relative;
}
div#tutorial-pics img, div#get-started-pics img {
  width: 100%;
}

/*Add Records Styling*/
